{% extends "adminBase.html" %}
<!DOCTYPE html>
<html lang="zh-cmn-Hans">
    <head>
        {% block head %}
        <meta charset="utf-8" />
        <title>课程管理-添加套课</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="https://i.loli.net/2019/03/03/5c7bddd728765.png">
        <!-- App css -->
        <link href="{{ url_for('static', filename='assets/css/app.css') }}" rel="stylesheet" type="text/css" />
        {% endblock %}
    </head>

    <body>
        {% block navbar %}
        {{ super() }}
        {% endblock %}
        {% block content %}
        <div class="wrapper">
            <div class="container-fluid">

                <!-- Page title box -->
                <div class="page-title-box">
                    <h4 class="page-title">添加套课</h4>
                </div>
                <!-- End page title box -->
                <div class="card">
                <form  method="post" accept-charset="utf-8" action={{ url_for('admin_page.add_course')}}>


                        <div class="table">
                        <table cellspacing="0" cellpadding="0">
                        <tbody>
                        <tr>
                            <td  width ="100px" align="center">套课名称</td>
                            <td><input class="counts" type="text" id="scourse_title" name="scourse_title" onblur = "Check('scourse_title')"></td>
                        </tr>
                        <tr>
                            <td  width ="100px" align="center">主题</td>
                            <td><select id="scourse_theme" name="scourse_theme" >
                                  <option value ="1" selected="selected">theme1</option>
                                  <option value ="2">theme2</option>
                                  <option value ="3">theme3</option>
                                  <option value ="4">theme4</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td  width ="100px" align="center">阶段</td>
                            <td><select id="scourse_stage" name="scourse_stage" >
                                  <option value ="1" selected="selected">stage1</option>
                                  <option value ="2">stage2</option>
                                  <option value ="3">stage3</option>
                                  <option value ="4">stage4</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td  width ="100px" align="center">介绍</td>
                            <td width ="400px"><input class="counts" type="text" id="scourse_intro" name="scourse_intro" size="50" ></td>
                        </tr>
                        <tr>
                            <td  width ="100px" align="center">学分</td>
                            <td><input class="counts" type="text" id="scourse_credit" name="scourse_credit" ></td>

                        </tr>
                        <tr>
                            <td  width ="100px" align="center">价格</td>
                            <td><input class="counts" type="text" id="scourse_price" name="scourse_price" ></td>
                        </tr>
                        {% for i in range(1,4) %}
                        <tr>
                            <td  width ="100px" align="center">单课{{ i }}</td>
                            <td>
                                <select id="pcourse{{ i }}" name="pcourse{{ i }}">
                                    {% for p in pcourse %}
                                  <option value ="{{ p.pcourse_id }}">{{ p.pcourse_id }}{{ p.pcourse_title }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        {% endfor %}

                        <tr>
                            <td  width ="100px" align="center"></td>
                            <td class="secondary" width ="400px" align="center" ><button class="upload" type="submit" >添加</button></td>
                        </tr>

                        </tbody>
                        </form>
                        </table>
                    </div>

                </div>

            </div>
        <!-- /Right-bar -->
        <script>

            function myfunction(i) {
                i = i.toString();
                var id = "flag"+i;
                var myselect=document.getElementById(id);
                var index=myselect.selectedIndex ;
                var v = myselect.options[index].value;
                if(v =='1'){
                    document.getElementById("for_sub"+i).style.display="none";
                }
                if(v == '0'){
                    document.getElementById("for_sub"+i).style.display="block";
                }
            }

            function Check(str)
            {
            var strReg="";
            var r;
            var strText= document.getElementById(str).value;
            if(strText=="" || strText==null)
            {
            alert("套课名称不能为空！");
            return;
            }
            }

        </script>
        {% endblock %}




    </body>

</html>
