{% extends "base.html" %}
<!DOCTYPE html>
<html lang="zh-cmn-Hans">
    <head>
        {% block head %}
        <meta charset="utf-8" />
        <title>教师管理 - 个人中心</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="https://i.loli.net/2019/03/03/5c7bddd728765.png">
        <!-- App css -->
        <link href="{{ url_for('static', filename='assets/css/app.css') }}" rel="stylesheet" type="text/css" />
        {% endblock %}
    </head>

    <body>
{% block navbar %}
        {{ super() }}
        {% endblock %}
        {% block content %}
        <div class="wrapper">
            <div class="container-fluid">

                <!-- Page title box -->
                <div class="page-title-box">
                    <h4 class="page-title">待批改列表</h4>
                </div>
                <!-- End page title box -->
                <div class="card">
                    <div class="table">
                        <table cellspacing="0" cellpadding="0">                    
                        <tbody>
                        {% for p_calss_setcourse in class_setcourse_title %}
                        <tr>
                            <td  width ="100px" align="center"><a class="wait" href="correction.html">待批改</a></td>
                            <td class="secondary" width ="450px" align="center" ><a href={{ url_for('course_page.ShowClassInfo',class_id=p_calss_setcourse[0])}}>班级号：{{p_calss_setcourse[0]}}  课程名：{{p_calss_setcourse[2]}}</a></td>
                            <td class="secondary" width ="450px" align="center">作业号 标识第几次作业</td>
                            <td width ="400px"align="center">1/{{ p_calss_setcourse[3] }} 已提交/总人数</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                    </div>
                    
                </div>

                
                </div>
            </div>
        {% endblock %}
    </body>
</html>
