<!DOCTYPE html>
<html lang="zh-cmn-Hans">
    <head>
        <meta charset="utf-8" />
        <title>教师管理 - 课程上传</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="https://i.loli.net/2019/03/03/5c7bddd728765.png">
        <!-- App css -->
         <link href="{{ url_for('static', filename='assets/css/app.css') }}" rel="stylesheet" type="text/css" />
    </head>

    <body>

        <!-- Navigation Bar-->
        <header id="topnav">
            <nav class="navbar-custom">

                <div class="container-fluid">
                    <ul class="list-unstyled topbar-right-menu float-right mb-0">
    
                        <li class="dropdown notification-list">
                            <a class="nav-link dropdown-toggle nav-user" href="index.html" >
                                <span class="ml-1">教师1</span>
                            </a>
                            
                        </li>
    
                    </ul>
    
                    <ul class="list-inline menu-left mb-0">
                   
                        <li class="float-left">
                            <a href="index.html" class="logo">
                                <span class="logo-lg">
                                    <img src="https://i.loli.net/2019/03/03/5c7bdcf9d47fe.png" alt="" height="40">
                                </span>
                            </a>
                        </li>
                    
                    </ul>
                </div>

            </nav>
            <!-- end topbar-main -->

            <div class="topbar-menu">
                <div class="container-fluid">
                    <div id="navigation">
                        <!-- Navigation Menu-->
                        <ul class="navigation-menu">

                            <li >
                                <a href="index.html">待批改</a>
                            </li>

                            <li >
                                <a href="course.html">我的课程</a>
                            </li>

                            <li >
                                <a href="student.html">我的学生</a>
                            </li>

                        </ul>
                        <!-- End navigation menu -->

                    </div> <!-- end #navigation -->
                </div> <!-- end container -->
            </div> <!-- end navbar-custom -->
        </header>
        <!-- End Navigation Bar-->


        <div class="wrapper">
            <div class="container-fluid">

                <!-- Page title box -->
                <div class="page-title-box">
                    <h4 class="page-title">上传课程</h4>
                </div>
                <!-- End page title box -->
                 <div class="card">
                    
                
                </div>
            </div>
        <!-- /Right-bar -->

    </body>
</html>
